html {
  background: #6cacc2;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#wrapper {
  padding-top: 4%;
  padding-left: 30%;
}

#title {
  padding-left: 220px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: Gungsuh;
}

#input_section {
  height: 440px;
  width: 520px;
  margin: 0 0;
  padding: 0 0;
  background: #a0cfd3;
  border-left: #fff 1px solid;
  border-top: #fff 1px solid;
  border-right: #999 1px solid;
  border-bottom: #999 1px solid;
}

#usersection {
  height: 400px;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

#userlist {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 95%;
  width: 35%;
  border-left: #fff 1px solid;
  border-top: #fff 1px solid;
  border-right: #999 1px solid;
  border-bottom: #999 1px solid;
}

#useradd {
  float: left;
  margin: 10px 10px;
  width: 58%;
  //width: 300px;
  border-left: #fff 1px solid;
  border-top: #fff 1px solid;
  border-right: #999 1px solid;
  border-bottom: #999 1px solid;
}

#title_useradd {
  padding-left: 10px;
}

#username {
  padding-left: 20px;
  margin-bottom: 5px;
  font-family: Impact;
}

.namearea {
  height: 20px;
  width: 250px;
  margin-left: 20px;
  border-radius: 5px;
  background: #faffff;
}

#password{
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 20px;
  margin-bottom: 5px;
}

#passwordarea {
  height: 20px;
  width: 250px;
  margin-left: 20px;
  border-radius: 5px;
  background: #faffff;
}

#registorb {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 20px;
  font-weight: bold;
  border-style: none;
  box-shadow: 1px 1px 0px 0px #999;
  border-radius: 3px;
}

#userdel {
  float: left;
  margin: 5px 10px;
  width: 58%;
  //width: 300px;
  border-left: #fff 1px solid;
  border-top: #fff 1px solid;
  border-right: #999 1px solid;
  border-bottom: #999 1px solid;
}

#title_userdel {
  padding-left: 10px;
}

#deleteb {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 20px;
  font-weight: bold;
  border-style: none;
  box-shadow: 1px 1px 0px 0px #999;
  border-radius: 3px;
}

#back {
  clear: both;
  margin-top: 10px;
  margin-left: 10px;
  height: 20px;
  font-weight: bold;
  border-style: none;
  box-shadow: 1px 1px 0px 0px #999;
  border-radius: 3px;
}

#userlistarea {
  list-style-type: circle;
}

.noteusers {
  margin-bottom: 3px;
}


